<div xmlns:th="http://www.thymeleaf.org" th:fragment="nav" class="nav">
    <a class="nav-item" th:href="@{/admin/}">Home</a>
    <a class="nav-item" th:href="@{/admin/user}">Manage Users</a>
    <a class="nav-item" th:href="@{/admin/ad}">Manage Advertisement</a>
    <a class="nav-item" href="#">Overflow Button 2</a>
    <a class="nav-item" href="#">Overflow Button 3</a>
    <a class="nav-item" href="#">Overflow Button 4</a>
    <a class="nav-item" href="#">Overflow Button 5</a>
    <a class="nav-item" href="#">Overflow Button 6</a>
    <a class="nav-item" href="#">Overflow Button 7</a>
    <a class="nav-item" th:href="@{/logout}">Log Out</a>
</div>