<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="administration/fragments/head :: head">Layout head fragment</th:block>
    <link rel="stylesheet" th:href="@{/administration/css/ad.css}">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="administration/fragments/nav :: nav"><!--nav--></th:block>
    <div class="main">
        <!--start-->

        <div class="main-item message" th:if="${messages != null}" th:each="message : ${messages}">
            <p th:text="${message}"></p>
        </div>

        <div class="main-item add-new">
            <form th:action="@{/admin/ad/new}" enctype="multipart/form-data" th:method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="file" name="image" accept="image/*" required>
                <input type="submit" value="Add New">
            </form>
        </div>

        <div class="main-item ads-list" th:if="${ads != null}">
            <th:block th:each="ad : ${ads}">
                <div class="ad">
                    <div th:style="'background-image: url(/ads/' + ${ad.getAdvertisement()} + ')'"></div>
                    <form th:action="@{/admin/ad/delete}" th:method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="number" th:value="${ad.getId()}" name="pk" hidden>
                        <input type="submit" value="Delete This Ad From Home Page">
                    </form>
                </div>
            </th:block>
        </div>

        <div class="main-item" th:if="${ads == null}">
            <p>There is no ads yet!</p>
        </div>

        <!--end-->
    </div>
    <th:block th:include="administration/fragments/scripts :: scripts"><!--scripts--></th:block>
</div>
</body>
</html>